@font-face {
  font-family: 'Poplar Std';
  src: url('PoplarStd.woff2') format('woff2'),
    url('PoplarStd.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html {
  margin: 0 auto;
  max-width: 2000px;
  font-family: 'Inter', sans-serif;
}

.taking_stock_header {
  color: #0076ba;
  font-family: 'PoplarStd', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.taking_stock_header h1 {
  font-size: 8vh;
}

.icon img {
  height: 8vh;
  margin-right: 0.5vw;
  cursor: pointer;
}

.hero {
  width: 100%;
  position: relative;
  height: 30vh;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: url('/images/hero.jpeg');
  height: 100%;
  width: 100%;
  background-size: cover;
  filter: brightness(80%);
}

h2 {
  position: absolute;
  font-size: 5vh;
  top: 40%;
  left: 2vw;
  color: white;
  text-decoration: underline;
}

.img_gallery {
  width: 85%;
  margin: 0 auto;
  margin-top: 3rem;
}

.img_tile {
  position: relative;
  margin-bottom: 3rem;
}

.img_tile img {
  display: block;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
}

.img_overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
  cursor: pointer;
}

.img_overlay:hover {
  opacity: 0.8;
}

.caption {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 1.5vh;
  border-radius: 2%;
  background-color: rgba(245, 245, 245, 0.5);
}

.caption p {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
}
.bold {
  font-weight: 900;
}
footer {
  background-color: #0076ba;
  color: white;
  font-size: 1rem;
  padding: 1.5rem;
}

footer p {
  margin-left: 1vw;
}

@media only screen and (max-width: 600px) {
  .img_gallery {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .img_overlay:hover {
    opacity: 0;
  }
  .caption p {
    font-size: 1rem;
    padding: 0.3rem;
    margin: 0.3rem;
  }
  footer p {
    margin-left: 3vw;
  }
}
